html,
body {
  width: auto;
  min-height: 550px;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  line-height: 22px;
  /*letter-spacing: 1px;
    word-spacing: -3px;*/
  color: #2d2d44;
  font-weight: normal;
  font-family: 'Roboto Mono', monospace;
  background-color: #ffffff;
}
.btn {
  display: block;
  box-sizing: border-box;
  width: 140px;
  height: 37px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 7px;
  font-size: 36px;
}
.wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 50px;
}
.page-header {
  width: auto;
  min-height: 210px;
  background-color: #2d2d44;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 15px;
  min-height: 60px;
  background-color: #2d2d44;
}
.page-header-container__logo {
  width: 250px;
  height: 125px;
  position: relative;
}
.page-header-container__logo::after {
  display: none;
}
@media screen and (max-width: 1000px) {
  .page-header-container__logo::after {
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0%;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    background-color: #e92529;
    top: 0px;
    left: 110px;
    transform: rotate(-10deg);
    content: "-800р!";
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    box-sizing: border-box;
    top: 140px;
    left: 80px;
    transform: rotate(-10deg);
  }
}
.page-header-container__title {
  width: 60%;
  min-height: 60px;
  padding-top: 15px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
.page-header-container__title a {
  text-decoration: none;
  color: #ffffff;
}
.page-header-container__title a:hover {
  color: #e92529;
}
.page-header-container__title a:active {
  color: #f28284;
}
.page-header-container__promo {
  width: 400px;
  height: 70px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #4eb543;
  background-color: #4eb543;
  box-shadow: 0 0 5px 0 rgba(231, 200, 190, 0.5);
  border-radius: 5px;
  color: #ffffff;
  font-size: 36px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .page-header-container__promo {
    margin-left: 45%;
    margin-top: 40px;
    width: 350px;
    height: 60px;
    font-size: 30px;
    padding-top: 16px;
  }
}
.page-header-container__promo::after {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0%;
  width: 150px;
  height: 70px;
  border-radius: 10px;
  background-color: #e92529;
  top: 15px;
  left: 125%;
  transform: rotate(10deg);
  content: "-800р!";
  color: #ffffff;
  padding-top: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  .page-header-container__promo::after {
    display: none;
  }
}
.page-header-container small {
  margin-top: auto;
  color: #f28284;
  text-align: center;
}
.intro {
  width: auto;
  min-height: 500px;
  background-color: #342c81;
  color: #d7dcde;
  /*outline: 2px solid red;*/

}
.intro__courses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 80px;
}
.intro p {
  margin: 0;
  padding: 0;
  padding: 0 8%;
  text-align: center;
}
.intro__course {
  width: 45%;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 50px;
  /*outline: 2px solid white;*/

  background-color: #312885;
  box-shadow: 0 0 5px 1px #3f3ccb;
}
.intro__course--1-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.intro__course--1-2 p {
  margin-top: 20px;
}
.intro__course--3-4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
}
.intro__course--3-4 p {
  margin-top: 20px;
}
.intro__course img {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 1px 1px #3d3491;
}
.intro__course img:hover {
  opacity: 0.7;
}
.intro__img-container1 {
  width: 100%;
  margin: 0 auto;
  height: 220px;
  /*outline: 2px solid red;*/

}
.intro__img-container2 {
  width: 50%;
  height: 220px;
  /*outline: 2px solid red;*/

}
.intro__img-container2:first-of-type {
  /*box-shadow: 2px 0 0 0 rgba(61, 52, 145, 1);*/

}
.intro a {
  text-decoration: none;
  color: #e74c3c;
}
.intro a:hover {
  text-decoration: underline;
}
.intro a:active {
  color: #f29f97;
}
.features {
  width: auto;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #2d2d44;
}
.features strong {
  display: block;
  font-size: 27px;
  line-height: 36px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1000px) {
  .features strong {
    text-align: center;
  }
}
.features strong a {
  color: inherit;
  text-decoration: none;
}
.features strong a:hover {
  color: #e74c3c;
}
.features strong a:active {
  color: #f29f97;
}
.features__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .features__container {
    display: block;
  }
}
.features__column {
  width: 30%;
  min-height: 200px;
  padding: 2% 3%;
  box-sizing: border-box;
  text-align: center;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(45, 45, 68, 0.25), 0 10px 10px 0 rgba(45, 45, 68, 0.25);
  position: relative;
}
@media screen and (max-width: 1000px) {
  .features__column {
    width: 70%;
    margin-left: 5%;
    margin-bottom: 50px;
    box-shadow: 0 0 10px 0 rgba(45, 45, 68, 0.25);
  }
}
.features__column b {
  font-size: 24px;
  display: block;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .features__column b {
    padding-bottom: 5px;
    padding-left: 60px;
    text-align: left;
  }
}
.features__column b::after {
  display: block;
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0px;
  left: 0%;
  border: 5px solid #2d2d44;
  background-color: #f29f97;
  border-radius: 2px;
  top: 45px;
  left: 45%;
  transform: rotate(45deg);
}
@media screen and (max-width: 1000px) {
  .features__column b::after {
    top: 5px;
    left: 5%;
    width: 5px;
    height: 5px;
  }
}
.features__column p {
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 1000px) {
  .features__column p {
    padding-left: 70px;
    padding-right: 15px;
    text-align: left;
  }
}
.features__column a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.features__column a:hover {
  color: #e74c3c;
}
.features__column a:active {
  color: #f29f97;
}
@media screen and (max-width: 1000px) {
  .features__column:nth-of-type(2) {
    margin-left: 30%;
  }
}
.features__list {
  width: auto;
  margin-top: 50px;
  min-height: 200px;
}
.features__list strong {
  display: block;
  font-size: 22px;
  margin-bottom: 20px;
}
.features__list b {
  display: block;
  text-transform: uppercase;
}
.features__list li {
  margin-bottom: 15px;
  list-style-type: none;
  position: relative;
}
.features__list li::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0%;
  width: 5px;
  height: 5px;
  background-color: #2d2d44;
  border: 5px solid #f29f97;
  border-radius: 50%;
  top: 7px;
  left: -30px;
}
.features__list a {
  text-decoration: none;
  color: inherit;
}
.features__list a:hover {
  color: #e74c3c;
}
.features__list a:active {
  color: #f29f97;
}
.addition {
  width: auto;
  min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
.addition strong {
  display: block;
  font-size: 22px;
  margin-bottom: 20px;
}
.addition b {
  display: block;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
}
.addition li {
  margin-bottom: 15px;
  list-style-type: none;
  position: relative;
}
.addition a {
  text-decoration: none;
  color: inherit;
}
.addition__promo {
  width: 25%;
  min-width: 220px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 13px;
  font-size: 27px;
  background-color: #e8e8e8;
  box-shadow: 0 0 5px 1px #4eb543;
}
.page-footer {
  width: auto;
  min-height: 130px;
  background-color: #2b2f38;
  padding-top: 1px;
  box-sizing: border-box;
  color: #ffffff;
}
.footer-info {
  width: auto;
  min-height: 125px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: inherit;
  padding: 25px;
  color: #d7dcde;
  /*outline: 2px solid white;*/

}
@media screen and (max-width: 1000px) {
  .footer-info {
    display: block;
  }
}
.footer-info span {
  display: block;
}
.footer-info > span {
  width: 250px;
  margin-top: auto;
  /*outline: 2px solid red;*/

}
@media screen and (max-width: 1000px) {
  .footer-info > span {
    margin-left: auto;
    margin-right: 100px;
  }
}
.footer-info__social {
  width: 60%;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 20px;
  /*outline: 2px solid red;*/

}
@media screen and (max-width: 1000px) {
  .footer-info__social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    margin-bottom: 50px;
  }
}
.footer-info__social span {
  width: auto;
  text-align: center;
  line-height: 36px;
}
@media screen and (max-width: 1000px) {
  .footer-info__social span {
    width: 40%;
    padding-right: 20px;
    text-align: left;
  }
}
.footer-info__social-links {
  margin: 0 auto;
  margin-top: 20px;
  /*outline: 2px solid red;*/

}
@media screen and (max-width: 1000px) {
  .footer-info__social-links {
    margin-top: 0;
  }
}
.footer-info a {
  text-decoration: none;
  color: inherit;
}
.footer-info a:hover {
  color: #f29f97;
}
.footer-info a:active {
  color: #e74c3c;
}
.social-links {
  display: block;
  width: 320px;
  min-height: 80px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  /*outline: 2px solid white;*/

}
.social-links__container {
  position: relative;
  display: block;
  width: 45px;
  min-height: 45px;
  list-style: none;
  border-radius: 50%;
  /*outline: 2px solid white;*/

  opacity: 0.5;
}
.social-links__container:hover {
  opacity: 1;
}
.social-links__container1 {
  position: relative;
  display: block;
  width: 155px;
  min-height: 57px;
  list-style: none;
  border-radius: 50%;
  /*outline: 2px solid white;*/

  margin-right: 15px;
}
.social-links__container1:hover {
  opacity: 0.5;
}
.social-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  font-size: 0;
}
.social-link--ha {
  background: url("../img/logo-htmlacademy.jpg") no-repeat;
  background-size: 150px 52px;
}
.social-link--vk {
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -7px -2px;
}
.social-link--fb {
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -55px -6px;
}
.social-link--in {
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -101px -6px;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
