.addition {
		width: auto;
		min-height: 100px;
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: @color8;	

	b {
		display: block;
		text-transform: uppercase;
		text-align: center;
		line-height: @l-height-5;
	}

	&__promo {
		width: 25%;
		min-width: 220px;
		height: 50px;
		margin: 0 auto;
		margin-top: 30px;
		padding-top: 13px;
		font-size: @size-9;
		background-color: darken(@color8, 5%);
		box-shadow: 0 0 5px 1px @color11;

		@media @mobile-width1 {
			height: 40px;
			padding-top: 8px;
			font-size: @size-8;
		}
	}
}