.features {
	width: auto;
	min-height: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: @color3;

	strong {
			display: block;
			font-size: @size-9;
			margin-bottom: 50px;

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					color: @color4;
				}

				&:active {
					color: @color5;
				}
			}
		}

	&__container {
		.flex-type-2();
	}

	&__column {
		width: 30%;		
		min-height: 200px;
		padding: 2% 3%;
		box-sizing: border-box;
		text-align: center;
		background-color: @color8;
		box-shadow: 0 0 10px 0 rgba(45, 45, 68, 0.25),
					0 10px 10px 0 rgba(45, 45, 68, 0.25);
		position: relative;

		b {
			font-size: @size-8;			

			&::after {
				.after(13px, 13px);
				border: 5px solid @color3;
				background-color: @color5;
				border-radius: 2px;
				top: 65px;
				left: 45%;
				transform: rotate(45deg);
			}
		}	

		p {
			padding-top: 50px;
			font-size: @size-5;
			line-height: @l-height-7;

		}

		a {
			text-decoration: none;
			color: inherit;
			font-weight: bold;

			&:hover {
				color: @color4;
			}

			&:active {
				color: @color5;
			}
		}
	}

	&__list  {
		width: auto;
		margin-top: 50px;
		min-height: 200px;

		strong {
			display: block;
			font-size: @size-7;
			margin-bottom: 20px;
		}

		b {
			display: block;
			text-transform: uppercase;
		}

		li {
			margin-bottom: 15px;
			list-style-type: none;
			position: relative;

			&::before {
				.before();
				width: 5px;
				height: 5px;
				background-color: @color3;
				border: 5px solid @color5;
				border-radius: 50%;
				top: 7px;
				left: -30px;
			}
		}

		a {
			text-decoration: none;
			color: inherit;
			
			&:hover {
					color: @color4;
				}

			&:active {
				color: @color5;
			}

		}
	}
}