.features {
	width: auto;
	min-height: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
	.flex-type-2();

	background-color: @color1;

	&__column {
		width: 30%;
		min-height: 400px; 
		outline: 2px solid red;		
	}
}