.social-links {
	display: block;
	width: 155px;
	min-height: 110px;
	.ul-0();
	.flex-type-2();
	align-items: flex-start;

	&__container {
		position: relative;
		display: block;
		width: 45px;
		min-height: 45px;
		.li-0();
		border-radius: 50%;
	}

	&__container1 {
		position: relative;
		display: block;
		width: 155px;
		min-height: 60px;
		.li-0();
		border-radius: 50%;
	}



}